<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="homeSection">
    <section id="home" class="section home-section">
      <!-- Texts on the left -->
      <div class="home-texts">
        <h1 class="home-title">
          ≽^•⩊•^≼<br>
          Hi, I'm Atreyee Paul
        </h1>

        <p class="home-subtitle">
          B.Tech CSE | AI Explorer
        </p>

        <p class="home-description">
          Welcome to my corner of the internet!  
          I explore AI, play with data, and chase challenges like a cat chasing a laser.
        </p>

        <p class="home-note">
          Stick around, click my dancing cat, and let’s have some fun!
        </p>
      </div>

      <!-- Dancing cat on the right -->
      <div id="home-cat" class="home-cat"></div>
    </section>

    <!-- Lottie Script for Dancing Cat -->
    <script src="https://unpkg.com/lottie-web@5.7.6/build/player/lottie.min.js"></script>
    <script>
      lottie.loadAnimation({
        container: document.getElementById('home-cat'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '/lottie/dancing-cat.json' // make sure this path is correct
      });
    </script>
  </div>
</body>
</html>